body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.holder {
    display: flex;
/*     flex-wrap: wrap; */
    justify-content: space-between;
/*     align-items: left; */
/*     padding: 20px; */
}
.item1 {
    background-color: green;
    color: black;
    width:80px;
	height:80px;
    margin: 5px;
	font-size:35px;
	font:bold;
}
.item2 {
    background-color: red;
     color: black;
    width:80px;
	height:80px;
    margin: 5px;
	font-size:35px;
	font:bold;
}
.item3 {
    background-color: blue;
     color: black;
    width:80px;
	height:80px;
    margin: 5px;
	font-size:35px;
	font:bold;
}
/* Your CSS Code here. */